<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <form th:action="@{/security/register}" method="post" th:object="${user}">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" th:field="*{username}" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" th:field="*{password}" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="passwordConfirmation">Password confirmation</label>
                        <input id="passwordConfirmation" type="password" th:field="*{passwordConfirmation}" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="company">Roles</label>
                        <select th:field="*{role}" id="company">
                            <option th:each="role : ${roles}" th:value="${role}"
                                    th:text="${role}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>