<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ask me </title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navigation.css">
    <script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="/css/questions.css">-->
    <div th:replace="fragments/navigation :: navigation"></div>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form th:action="@{/questions/add}" method="post" enctype="multipart/form-data">

                <p> Still looking for an answer? Ask a new question</p>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your ask</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>