<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>

<div th:fragment="doctor_navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/doctors/add">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctors/answer">Answer</a>
            </li>

            <li class="nav-item dropdown text-white-50">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                    <a class="dropdown-item" href="/patients/add/">Patient</a>
                    <a class="dropdown-item" href="/doctors/add">Doctor</a>
                    <a class="dropdown-item">Hospital</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/security/login"> Log in </a>
            </li>
        </ul>
    </nav>
</div>