<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make an appointment to the doctor</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navigation.css">
    <script src="/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <div th:replace="fragments/navigation :: navigation"></div>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form th:action="@{/visits/add}" method="post" th:object="${visit}" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Description</label>
                    <input id="name" type="text" class="form-control" th:field="*{description}"/>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" th:field="${patient.name}"/>
                </div>

                <div class="form-group">
                    <label for="name">Surname</label>
                    <input type="text" class="form-control" th:field="${patient.surname}"/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" th:field="${patient.email}"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>